body {
  background-color: #f5f5f5;
}

* {
  word-break: break-all;
}

.list-group-item:hover {
  background-color: #eee;
  cursor: pointer;
}

.breadcrumb {
  padding: 8px 0;
}

.table {
  background-color: #fff;
}

#projects_div a {
  color: #333;
}
#projects_div a:hover {
  text-decoration: none;
  color: #333;
}
#projects_div a:visited {
  text-decoration: none;
  color: #333;
}
#projects_div a:focus {
  text-decoration: none;
  color: #333;
}

.wait-append-tr {
  background-color: #f5f5f5;
  color: #ddd;
  border: 2px dashed #eee;
  text-align: center;
}
.wait-append-tr td {
  padding: 5px 0;
}

.drag-div {
  height: calc(100vh - 70px - 56px - 20px);
}

.task-detail-table ul,
.task-detail-table ol {
  padding-left: 25px;
}

.task-dynamic-div {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 12px;
  color: #777;
  background-color: #fff;
}

.task-dynamic-div div {
  padding: 5px 10px;
  border-bottom: 1px dashed #ccc;
}

.task-dynamic-div div:last-child {
  border-bottom: 0;
}

.task-dynamic-div p {
  margin-bottom: 0;
}

#content {
  border-radius: 0;
  margin-bottom: 25px;
}

.task-dynamic-div ul {
  list-style: square;
  padding-left: 20px;
}

#projects_div [class^=col-] {
  height: 200px;
}

@media (max-width: 768px) {
  #projects_div [class^=col-] {
    height: auto;
  }
}

#chat_div .chat_header {
  height: 40px;
  background-color: #ddd;
  color: #fff;
  line-height: 40px;
  padding-left: 15px;
}

#chat_div .chat_container {
  background-color: #fff;
  display: flex;
  height: calc(100vh - 70px - 56px - 80px);
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
#chat_div .chat_container .chat_sidebar {
  height: calc(100vh - 70px - 56px - 80px);
  width: 200px;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  overflow-y: auto;
  overflow-x: hidden;
}

#chat_div .chat_container .chat_sidebar div {
  display: flex;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
}

#chat_div .chat_container .chat_sidebar div:hover {
  cursor: pointer;
}

#chat_div .chat_container .chat_sidebar div:last-child {
  border-bottom: 0;
}

#chat_div .chat_container .chat_sidebar div div:first-child {
  flex: 1;
}

#chat_div .chat_container .chat_sidebar div div span:first-child {
  font-size: 36px;
  /* color: greenyellow; */
  padding: 0 10px;
}

#chat_div .chat_container .chat_sidebar div div img {
  margin-top: 8px;
}

#chat_div .chat_container .chat_sidebar div div span:nth-child(2) {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#chat_div .chat_container .chat_sidebar div div:last-child {
  /* width: 40px; */
  padding-right: 10px;
  border-bottom: 1px solid #eee;
}

#chat_div .chat_container .chat_right {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#chat_div .chat_container .chat_message {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

#chat_div .chat_container .chat_message img {
  max-width: 80%;
}

#chat_div .chat_container .chat_input {
  height: 100px;
  border-top: 2px solid #ddd;
  padding: 10px;
  outline: 0;
  overflow: auto;
}

#chat_div .chat_container .chat_input img {
  max-width: 100%;
}

#chat_div .chat_container .chat_right button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.chat_content {
  padding: 5px 10px;
  margin-top: 10px;
}
